<h1>Here be vendors</h1>

<ul>
  <li>Here's a list</li>
  <li>Of all of the vendors</li>
  <li>Of your vendor</li>
  <li>like so.</li>
  <li><a href="/vendors/0">And I am a clickable example Vendor</a></li>
</ul>

<a href="/vendors/new">Add-A-Vendor</a>