<h1>Add New Vendor</h1>

<form action="/vendors" method="post">
  <label for="vendorName">Vendor name</label>
  <input id="vendorName" name="vendorName" type="text">
  <label for="vendorDescription">Type of Vendor, e.g. "cafe"</label>
  <input id="vendorDescription" name="vendorDescription" type="text">
  <button type="submit">Add new vendor</button>
</form>

<p><a href="/vendors">Back</a></p>