@using VendorTracker.Models;

<h1>Vendor #@Model.Id: @Model.Name</h1>

<ol>
  <li><a href="/vendors/@Model.Id/orders/0">A detail page for an order</a></li>
@foreach (Order order in @Model.Orders)
{
  <li><a href='/vendors/@Model.Id/orders/@order.Id'>@order.Title</a></li>
}
</ol>

<p>Here's a static link to <a href="/vendors/@Model.Id/orders/new">add more orders to THIS VENDOR</a></p>
<p>Here's a static link back to <a href="/vendors">vendors list</a></p>