<h1>This is the Vendor's Unique Id Number, followed by the Vendor's Name</h1>

<ul>
  <li>Here's a list</li>
  <li>Of all of the orders</li>
  <li>Of your vendor</li>
  <li>like so.</li>
  <li><a href="/vendors/0/items/0">A detail page for an order</a></li>
</ul>

<p>Here's a static link to <a href="/vendors/0/items/new">add more orders to THIS VENDOR</a></p>
<p>Here's a static link back to <a href="/vendors">vendors list</a></p>