<div id="header">
  <button class="btn btn-light"><a href="/">Vendor Tracker</a></button> <button class="btn btn-light"><a href="/vendors">Vendors</a></button> <button class="btn btn-light"><a href="/vendors/new">Add Vendor</a></button>
</div>