@{
  Layout = "_Layout";
}

<h1>New Order</h1>

<form action="/vendors/@Model.Id/orders" method="post">
  <label for="orderBread">How much bread?</label>
  <input id="orderBread" name="orderBread" type="number">
  <label for="orderPastries">How many pastries?</label>
  <input id="orderPastries" name="orderPastries" type="number">
  <label for="orderNotes">Notes:</label>
  <input id="orderNotes" name="orderNotes" placeholder="none" type="text">
  <button class="btn btn-light" type="submit">Add new order</button>
</form>

<button class="btn btn-light"><a href='/vendors/@Model.Id/'>Back to Vendor Details</a></button>