<h1>ADD ORDER</h1>

<form action="/vendors/@Model.Id/orders" method="post">
  <label for="orderBread">How much bread?</label>
  <input id="orderBread" name="orderBread" type="number">
  <label for="orderPastries">How many pastries?</label>
  <input id="orderPastries" name="orderPastries" type="number">
  <label for="orderNotes">Notes:</label>
  <input id="orderNotes" name="orderNotes" placeholder="none" type="text">
  <button type="submit">Add new order</button>
</form>

<p>Here's a static link back to <a href='/vendors/@Model.Id/'>orders list for this vendor</a></p>